body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

header {
    background-color:pink;
    color:black;
    padding: 20px;
    text-align: center;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.news-article {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-article img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.news-article h2 {
    font-size: 18px;
    margin-top: 10px;
}

.news-article p {
    font-size: 14px;
}

@media (max-width: 600px) {
    .news-grid {
        grid-template-columns: 1fr;
    }
}
footer {
    background-color:pink;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
    margin: 0;
  }
